nav {
  width: 100%;
  text-align: center;
  padding: .3rem;
  position: absolute;
  top: 0px;
  padding-top: 1rem;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding-right: 1rem;
}

nav ul li a {
  padding: .5rem 1rem;
  font-size: .8rem;
  color: white;
  border-bottom: 5px solid transparent;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 5px solid white;
}

.action a {
  border-radius: 10px;
  border: 1px solid white;
  width: 100px;
}


@media (max-width: 680px) {
  nav {
    display: none;
  }
}